<!DOCTYPE html>
<html>

	<head>
		<title> Simply Finance </title>
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<link href="/css/application.css" rel="stylesheet" type="text/css" />

    	<!-- GOOGLE ANALYTICS -->
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  					})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-57400841-1', 'auto');
  			ga('send', 'pageview');
		</script>
	</head>

  <body style="background-color: rgba(0, 0, 0, 0.88)">
  	<div class="wrapper">

  		<div class="home" class="page-content" >
			<img id="logo" src="/images/finance-logo.png">
  		
  			<div id="intro-wrapper">	
  				<p id="intro-text">
  				<h3>How it works:</h3>
  					Welcome to Simply Finance - Powered by Yahoo! This app is simple and easy to use. First, pick your stocks. You can monitor as many as you want. Second, pick your metrics. All metric data should be available from Yahoo Finance. Then, run Simply Finance to get a read on your portfolio from a single table view. 
  				</p>

  				<p id="intro-text">
  				<h3>Subtitle:</h3>
  					Insert text here.
  				</p>

  				<p id="intro-text">
  				<h3>Subtitle:</h3>
  					Insert text here.
  				</p>
  			</div>

  <table class="data-table">

          <tr class="data-cells">
            <% for x in 0...@num %>
              <b><%= p @metric_names[x] %></b>
          </tr>
            <% end %>
            </br>
        
          <tr class="data-cells">
            <% for x in 0...@num %>
                <b><%= p @data[x].symbol %></b>
                <%= p @data[x].change %>
                <%= p @data[x].ask %>
                <%= p @data[x].bid %>
                <%= p @data[x].moving_average_50_day %>
                <%= p @data[x].moving_average_200_day %>
                <%= p @data[x].after_hours_change_real_time %>
                <%= p @data[x].earnings_per_share %>
                <%= p @data[x].eps_estimate_next_quarter %>
                <%= p @data[x].dividend_yield %>
                <%= p @data[x].ex_dividend_date %>
                <%= p @data[x].pe_ratio %>
                <%= p @data[x].high_52_weeks %>
                <%= p @data[x].low_52_weeks %>
                <%= p @data[x].annualized_gain %>
                <%= p @data[x].market_capitalization %>
          </tr>
          </br>
          <% end %>
        
    </table>

		</div>
	</div>

  </body>

</html>



















